* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility classes */
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}

.clear :after{
  content: "";
  display: table;
  clear: both;
}

.txt-c{
  text-align: center;
}

.bd{
  border: 1px solid black;
}

.pd10{
  padding: 10px;
}

.pdtb-10{
  padding: 10px 0;
}

body {
    background-color: #333;
    color: white;
}
.wrapper {
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

#site_content{
    height: calc(100% - 60px);
}
aside.main_menu {
    min-width: 200px;
    background-color: black;
    padding: 15px 30px 5px 10px;
}

.basic-item{
  position: relative;
}
.logo{
  width: 60%;
  padding-bottom: 30px;
}

.home{
  width: 15%;
}
.basic{
  display: inline;
  position: absolute;
  top: 0;
  padding-left: 10px;
  font-size: 15px;
  color: white;
  font-weight: normal;
  text-decoration: none;
  text-transform: capitalize;


}

.covers_section {
    background-color: #030d38;
    padding: 20px;;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 60px;
    /* margin-top: 60px; */
    width: calc(100% - 200px);
}
.subscribe_banner {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    /* height: 60px; */
    background-color: #8a2be2a1;
    padding: 15px 0;
}

.button{
  float: right;
  color: white;
  padding: 5px 30px;
  background-color: black;
  margin-right: 20px;
}

.nav-site{
  padding-top: 10px;
  padding-bottom: 30px;
}

.navbar a{
  padding: 0 15px;
}





/* Footer */
footer#site_footer {
    background-color: #312c2c;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.foot-sx {
  float: left;
}

.foot-dx{
  float: right;
}
