* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility classes */
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}

.clear :after{
  content: "";
  display: table;
  clear: both;
}

.txt-c{
  text-align: center;
}

.bd{
  border: 1px solid black;
}

.pd10{
  padding: 10px;
}

.pdtb-10{
  padding: 10px 0 20px 0;
}

.pdtb-20{
  padding: 20px 0;
}
.pdt-10 {
  padding-top: 10px;
}

body {
    background-color: #333;
    color: white;
}
.wrapper {
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

#site_content{
    height: calc(100% - 60px);
}
aside.main_menu {
    min-width: 200px;
    background-color: black;
    padding: 15px 30px 5px 10px;
}

.basic-item{
  position: relative;
}
.logo{
  width: 60%;
  padding-bottom: 30px;
}

.home{
  width: 15%;
}
.basic{
  display: inline;
  position: absolute;
  top: 20%;
  padding-left: 10px;
  font-size: 15px;
  color: white;
  font-weight: normal;
  text-decoration: none;
  text-transform: capitalize;
}

.playlist{
  line-height: 25px;
}

.playlist h4{
  text-transform: uppercase;
  padding-bottom: 10px;
}

  .playlist i{
   color: black;
   background-color: lightgrey;
   padding: 5px;
 }

 .playlist p{
   display: inline;
   padding-left: 5px;
   text-transform: capitalize;
 }

 .playlist ul li{
   font-size: 10px;
   list-style-type: none;
   text-transform: capitalize;
   color: grey;
 }

 .install{
   border-bottom: 1px solid grey;
   position: relative;

 }

 .install img{
   width: 15px;
   padding-bottom: 5px;
 }

 .install p{
   display: inline;
   color: grey;
   padding-left: 10px;
   text-transform: capitalize;
   position: absolute;
   top: -10%;
 }

  .john{
    padding-top: 15px;
    position: relative;
  }
  .john img{
    color: white;
    width: 25px;
    height: 25px;
    background-color: grey;
    border-radius: 100%;
  }

  .john p{
    display: inline;
    padding-left: 10px;
    text-transform: capitalize;
    position: absolute;
    top: 40%;
  }

  .fondo{
    padding-top: 180px;
  }

  /* main site central */

  .card-1{
    padding-right: 10px;
  }
  .card-1 img{
    width: 100%;
  }
  .card-1 h4{
    text-transform: capitalize;
    font-size: 20px;
    padding-top: 10px;
  }
  .card-1 p{
    color: grey;
    padding-top: 10px;
  }






.covers_section {
    background-color: #030d38;
    padding: 20px;;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 60px;
    /* margin-top: 60px; */
    width: calc(100% - 200px);
}
.subscribe_banner {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    /* height: 60px; */
    background-color: #00000075;
    padding: 15px 0;
}

.button{
  float: right;
  color: white;
  padding: 5px 30px;
  background-color: black;
  margin-right: 20px;
  border: 1px solid white;
  border-radius: 20px
}

.nav-site{
  padding-top: 10px;
  padding-bottom: 30px;
}

.navbar a{
  padding: 0 12px;
  text-decoration: none;
  color: grey;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}





/* Footer */
footer#site_footer {
    background-color: #312c2c;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.foot-sx {
  float: left;
}

.foot-dx{
  float: right;
}
